@model omarta_v1._1.Models.Gallery

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="x_panel">
            <h4>Galerijas</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                <div class="control-label col-md-2"><b>Nosaukums</b></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
                <div class="control-label col-md-2"><b>Iepriekšejais Attēls</b></div>
                <div class="col-md-4">
                    <img src="@Model.Cover" height='100' width='150' />
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"><b>Vāks</b></div>
                <div class="col-md-4">
                    <input type="file" id="cover" class="file" name="cover" />
                    @Html.ValidationMessageFor(model => model.Cover, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
>>>>>>> d659a7aad95dd4c8b46f6e113cf497211aa6848e
>>>>>>> 01aa43a9bd2c6603bcfe8cd5bed8dc3c996744c7
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Mainīt" class="btn btn-primary" />
                </div>
            </div>
        </div>
        </div>
}

<div>
    <a href="@Url.Action("Index","Galleries")" class="btn btn-default">< Back to List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
