@{
    ViewBag.Title = "Home Page";
}

<div class="row top_tiles">

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-sitemap"></i>
            </div>
            <div class="count">@ViewBag.CategoryCount</div>

            <h3>Kategorijas</h3>
            <p><a href="#">Paradīt vairāk  <i class="fa fa-chevron-circle-right"></i></a></p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-barcode"></i>
            </div>
            <div class="count">@ViewBag.ProductCount</div>

            <h3>Produkti</h3>
            <p><a href="#">Paradīt vairāk  <i class="fa fa-chevron-circle-right"></i></a></p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-camera-retro"></i>
            </div>
            <div class="count">@ViewBag.GalleryCount</div>

            <h3>Galerijas</h3>
            <p><a href="#">Paradīt vairāk  <i class="fa fa-chevron-circle-right"></i></a></p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-comments-o"></i>
            </div>
            <div class="count">0</div>

            <h3>Komentāri</h3>
            <p><i class="fa fa-chevron-circle-right"></i></p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="count">0</div>

            <h3>Pasūtījumi</h3>
            <p><i class="fa fa-chevron-circle-right"></i></p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-newspaper-o"></i>
            </div>
            <div class="count">@ViewBag.NewsCount</div>

            <h3>Ziņas</h3>
            <p><a href="#">Paradīt vairāk  <i class="fa fa-chevron-circle-right"></i></a></p>
        </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-bar-chart"></i>
            </div>
            <div class="count">@ViewBag.SaleCount</div>

            <h3>Pārdošanas</h3>
            <p><a href="#">Paradīt vairāk  <i class="fa fa-chevron-circle-right"></i></a></p>
        </div>
    </div>
</div>