@model omarta_v1._1.Models.Products

@{
    ViewBag.Title = "Mainīt produktu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="x_panel">
            <h2>Mainīt produktu</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                <div class="control-label col-md-2"><b>Kategorija</b></div>
                <div class="col-md-4">
                    @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
<<<<<<< HEAD
                <div class="control-label col-md-2"><b>Galerija</b></div>
                <div class="col-md-4">
                    @Html.DropDownList("GalleryID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GalleryID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
=======
>>>>>>> 01aa43a9bd2c6603bcfe8cd5bed8dc3c996744c7
                <div class="control-label col-md-2"><b>Produkta nosaukums</b></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"><b> Pārdošanās cena</b></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.SalesPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SalesPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"><b>Iepirkuma cena</b></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.BuyPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BuyPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"><b>Skaits</b></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    <small>Tas skaits pieskaitās pie "pieejamaijs skaits"</small>
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"><b>Produkta apraksts</b></div>
                <div class="col-md-8">
                    <textarea id="Description" class="ckeditor" name="Description">@Model.Description </textarea>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Mainīt" class="btn btn-primary" />
                </div>
            </div>
        </div>
        </div>
}

<div>
    <a href="@Url.Action("Index","Products")" class="btn btn-default">< Back to List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
